@using TowerPortal.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - tower-admin-portal</title>
    <link rel="stylesheet" href="~/portal/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/portal/css/site.css"/>
    <link rel="stylesheet" href="~/portal/css/mail.css"/>
    <link rel="stylesheet" href="~/portal/css/player.css"/>
    <link rel="stylesheet" href="~/portal/css/permissions.css"/>
    <link rel="stylesheet" href="~/portal/css/token.css"/>
    <link rel="stylesheet" href="~/portal/css/config.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">tower-admin-portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @{
                        if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            if (ViewData.GetPermissions().Portal.SuperUser || ViewData.GetPermissions().Portal.ManagePermissions)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Permission" asp-action="List">Permissions</a>
                                </li>
                            }

                            if (ViewData.GetPermissions().Config.View_Navbar)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DynamicConfig" asp-action="Edit">Dynamic Config</a>
                                </li>
                            }

                            if (ViewData.GetPermissions().Config.View_Navbar)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="Search">Player</a>
                                </li>
                            }

                            if (ViewData.GetPermissions().Mail.View_Navbar)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Mailbox" asp-action="Global">Mailbox</a>
                                </li>
                            }

                            if (ViewData.GetPermissions().Token.View_Navbar)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Token" asp-action="Ban">Token</a>
                                </li>
                            }

                            <li class="nav-item">
                                <u>Welcome: @User.Identity.Name</u>
                                <a asp-controller="Account" asp-action="GoogleLogout" class="btn btn-danger">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/portal/account/google-login" class="btn btn-danger">Login</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
</footer>
<script src="~/portal/lib/jquery/dist/jquery.min.js"></script>
<script src="~/portal/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/portal/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>