@model TowerPortal.Models.Portal.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

<h3>An error occurred when performing this action.</h3>
<p>
    This resource may not be available.
</p>

<p>
    Otherwise, please contact the platform team for further assistance.
</p>