@model TowerPortal.Models.Portal.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Access denied.</h1>

<h3>You do not have access to this action.</h3>
<p>
    If you are not logged in, please log in <a href="/portal/account/google-login">here</a>
</p>

<p>
    Otherwise, please contact the site administrator if you require access.
</p>