div.chat-search-container {
    margin-bottom: 10px;
}

table.chat-bans,
table.chat-reports,
table.chat-announcements {
    border: 2px black solid;
}

table.chat-bans tr td,
table.chat-reports tr td,
table.chat-announcements tr td {
    padding: 3px;
    border: 1px black solid;
}

div.chat-ban-container,
div.chat-unban-container {
    margin: 5px;
}

div.chat-search-container {
    margin-bottom: 10px;
}

textarea#newText {
    resize: none;
}

form.announcement-info {
    display: grid;
    grid-template-areas: "l1 l1 i1 i1 i1 i1 i1 i1"
                         "l2 l2 i2 i2 i2 i2 i2 i2"
                         "l3 l3 i3 i3 i3 i3 i3 i3"
                         "l4 l4 i4 i4 i4 i4 i4 i4"
                         "l5 l5 i5 i5 i5 i5 i5 i5"
                         "b1 . . . . . . .";
}

form.announcement-info label,
form.announcement-info textarea,
form.announcement-info input {
    margin: 2px;
}

form.announcement-info label.text {
    grid-area: l1;
}

form.announcement-info textarea.text {
    grid-area: i1;
}

form.announcement-info label.duration {
    grid-area: l2;
}

form.announcement-info input.duration {
    grid-area: i2;
}

form.announcement-info label.expiration {
    grid-area: l3;
}

form.announcement-info input.expiration {
    grid-area: i3;
}

form.announcement-info label.visibleFrom {
    grid-area: l4;
}

form.announcement-info input.visibleFrom {
    grid-area: i4;
}

form.announcement-info label.language {
    grid-area: l5;
}

form.announcement-info input.language {
    grid-area: i5;
}

form.announcement-info button.sendAnnouncementButton {
    grid-area: b1;
}

form.chat-ban-form {
    display: grid;
    grid-template-areas: "l6 l6 i6 i6 i6 i6 i6 i6"
                         "l7 l7 i7 i7 i7 i7 i7 i7"
                         "b2 . . . . . . .";
}

form.chat-ban-form label,
form.chat-ban-form input {
    margin: 2px;
}

form.chat-ban-form label.reason {
    grid-area: l6;
}

form.chat-ban-form input.reason {
    grid-area: i6;
}

form.chat-ban-form label.duration {
    grid-area: l7;
}

form.chat-ban-form input.duration {
    grid-area: i7;
}

form.chat-ban-form button.chatBanButton {
    grid-area: b2
}
