.invisible {
    display: none
}

div.player-data-container,
div.player-wallet-container {
    border-bottom: lightgrey 1px solid;
    margin-bottom: 10px;
}

div.player-data-item,
div.player-wallet-item,
div.wallet-currency-item {
    display: flex;
    flex-wrap: nowrap;
}

div.player-data-item p,
div.player-data-item form,
div.player-wallet.item form,
div.wallet-currency-item {
    padding: 5px;
    margin-bottom: 0;
}

button:disabled {
    cursor: not-allowed;
}

