form.ban-form {
    display: grid;
    grid-template-areas: "d1 d1 d1 d1 d1 d1"
                         "d2 d2 d3 d3 d4 d4"
                         "d5 d5 d5 . . ."
                         "d6 d6 d6 d6 d6 d6"
                         "b7 . . . . .";
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 25px;
}

form.ban-form div.playerIds {
    grid-area: d1;
    display: grid;
    grid-template-areas: "l1 i1";
    grid-template-columns: 1fr 3fr;
    margin-bottom: 10px;
}

form.ban-form div.playerIds label.playerIds {
    margin: 2px;
    grid-area: l1;
}

form.ban-form div.playerIds input.playerIds {
    margin: 2px;
    grid-area: i1;
}

form.ban-form div.actionBan {
    grid-area: d2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form.ban-form div.actionBan label.actionBan,
form.ban-form div.actionBan input.actionBan {
    margin: 2px
}

form.ban-form div.actionUnban {
    grid-area: d3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form.ban-form div.actionUnban label.actionUnban,
form.ban-form div.actionUnban input.actionUnban {
    margin: 2px
}

form.ban-form div.actionLogout {
    grid-area: d4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form.ban-form div.actionLogout label.actionLogout,
form.ban-form div.actionLogout input.actionLogout {
    margin: 2px
}

form.ban-form div.unbanTime {
    grid-area: d5;
    display: grid;
    grid-template-areas: "l5 i5";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

form.ban-form div.unbanTime label.unbanTime {
    margin: 2px;
    grid-area: l5;
}

form.ban-form div.unbanTime input.unbanTime {
    margin: 2px;
    grid-area: i5;
}

form.ban-form div.note {
    grid-area: d6;
    display: grid;
    grid-template-areas: "l6 i6";
    grid-template-columns: 1fr 3fr;
    margin-bottom: 10px;
}

form.ban-form div.note label.note {
    margin: 2px;
    grid-area: l6;
}

form.ban-form div.note input.note {
    margin: 2px;
    grid-area: i6;
}

form.ban-form button.banButton {
    grid-area: b7;
}

table#tokenLogs {
    table-layout: fixed;
    border: 3px solid black;
}

table#tokenLogs tr:nth-child(1) {
    border-bottom: 2px solid black;
}

table#tokenLogs tr td {
    border: 1px solid black;
    padding: 5px;
}

table#tokenLogs tr td:nth-child(1) {
    /* Actor */
    width: 15%;
}

table#tokenLogs tr td:nth-child(2) {
    /* Action */
    width: 10%;
}

table#tokenLogs tr td:nth-child(3) {
    /* Unban Time */
    width: 15%;
}

table#tokenLogs tr td:nth-child(4) {
    /* Timestamp */
    width: 15%;
}

table#tokenLogs tr td:nth-child(5) {
    /* Target */
    width: 25%;
}

table#tokenLogs tr td:nth-child(6) {
    /* Note */
    width: 20%;
}