<div class="mailbox-page-container">
    <div class="send-messages-container">
        <button id="send-messages-button">Sending Messages</button>
    </div>
    <div class="error-container invisible"></div>
    <div class="inbox-search-container">
        <form class="inbox-search-form">
            <div class = "inbox-search-form-container">
                <label for="inbox-search-input" class="inbox-search">Account Id</label>
                <input id="inbox-search-input" class="inbox-search" type="text" required>
                <button id="inbox-search-button" class="inbox-search">Search</button>
            </div>
        </form>
    </div>
    <div class="active-globals-container">
        <h1>Inbox Messages</h1>
        <table id="inboxMessages" class="messages">
            <tr>
                <td class="id">Id</td>
                <td class="subject">Subject</td>
                <td class="body">Body</td>
                <td class="attachments">Attachments</td>
                <td class="visibleFrom">Visible From (UTC)</td>
                <td class="expiration">Expiration (UTC)</td>
                <td class="icon">Icon</td>
                <td class="banner">Banner</td>
                <td class="internalNote">Internal Note</td>
                <td class="forAccountsBefore">For Accounts Before (UTC)</td>
                <td class="status">Status</td>
                <td class="global">Expired</td>
            </tr>
        </table>
    </div>
    <br />
    <div class="message-history-container">
        <h1>Message History</h1>
        <table id="messageHistory" class="messages">
            <tr>
                <td class="id">Id</td>
                <td class="subject">Subject</td>
                <td class="body">Body</td>
                <td class="attachments">Attachments</td>
                <td class="visibleFrom">Visible From (UTC)</td>
                <td class="expiration">Expiration (UTC)</td>
                <td class="icon">Icon</td>
                <td class="banner">Banner</td>
                <td class="internalNote">Internal Note</td>
                <td class="forAccountsBefore">For Accounts Before (UTC)</td>
                <td class="status">Status</td>
                <td class="global">Expired</td>
            </tr>
        </table>
    </div>
</div>