.invisible {
    display: none
}

div.player-data-container {
    border-bottom: lightgrey 1px solid;
}

div.player-data-item {
    display: flex;
    flex-wrap: nowrap;
}

div.player-data-item p,
div.player-data-item form
{
    padding: 10px;
}