@{
    ViewData["Title"] = "Player Details";
}
<h2>@ViewData["Title"]</h2>

<h4>Account: @ViewData["Account"]</h4>
<form>
    <table>
        <tr>
            
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                <input type="checkbox"/>
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>